fieldset
{
    border: 0 none;
}

#todo-list
{
    li
    {
        .toggle
        {
            left: 13px;
        }
    }
}

#toggle-all
{
    left: 9px;
}

.errorlist
{
    padding-left: 0;
    margin-left: 0;
    color: #B94A48;

    li
    {
        list-style: none;

    }
}
