fieldset{border:0 none}
#todo-list li .toggle{left:13px}
#toggle-all{left:9px}
.errorlist{padding-left:0;margin-left:0;color:#b94a48}.errorlist li{list-style:none}
form legend{margin:20px 0 0 10px}
form ol{list-style:none;padding-left:10px}form ol label,form ol input{display:block}
form ol label{font-weight:600}
form ol input{margin-bottom:10px}form ol input[type="submit"]{margin-top:20px}
form ol .helptext{margin-bottom:10px;display:block;font-style:italic;color:#666}
body.accounts #todoapp:before{border-left:0 none;border-right:0 none}
#todoapp h4{margin-left:20px}
#count-info{float:left;margin:0}
