{% extends "layouts/base.html" %}
{% load widget_tweaks %}

{% block header %}
    <h1>todos</h1>
    <form id="new-todo-form" action="{% url 'add_todo' %}" method="post" enctype="application/x-www-form-urlencoded">
        <fieldset>
            {{ form.title|attr:"autofocus"|attr:"placeholder:What needs to be done?" }}
            {% csrf_token %}
        </fieldset>
    </form>
{% endblock header %}

{% block content %}
    <section id="main">
            <input id="toggle-all" type="checkbox" style="{% if not todos %}display: none;{% endif %}">
            <label for="toggle-all">Mark all as complete</label>
            <ul id="todo-list">
                {% for todo in todos %}
                <li class="{% if todo.completed_on %}completed{% endif %}">
                    <div class="view">
                        <input class="toggle" type="checkbox" {% if todo.completed_on %}checked="checked"{% endif %} value="{{ todo.id }}" />
                        <label>{{ todo }}</label>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>
        <footer id="footer">
            <div style="{% if not todos %}display: none;{% endif %}">
                <p id="count-info"><span class="number">{{ todos|length }}</span> <span class="items">item{{ todos|pluralize }}</span> left</p>
                <ul id="filters">
                    <li>
                        <a href="#" id="filter-all" class="selected">All</a>
                    </li>
                    <li>
                        <a href="#" id="filter-active">Active</a>
                    </li>
                    <li>
                        <a href="#" id="filter-completed">Completed</a>
                    </li>
                </ul>
                <button id="clear-completed">Clear completed <span id="completed-count"></span></button>
            </div>
        </footer>
{% endblock content %}

{% block footer %}
    <p>Double-click to edit a todo</p>
    {{ block.super }}
{% endblock footer %}
