{% extends "layouts/base.html" %}
{% load widget_tweaks %}

{% block header %}
    <h1>todos</h1>
    <form id="new-todo-form" action="{% url 'add_todo' %}" method="post" enctype="application/x-www-form-urlencoded">
        <fieldset>
            {{ form.title|attr:"autofocus"|attr:"placeholder:What needs to be done?" }}
            {% csrf_token %}
        </fieldset>
    </form>
{% endblock header %}

{% block content %}
    <section id="main">
            <input id="toggle-all" type="checkbox" style="{% if not todos %}display: none;{% endif %}">
            <label for="toggle-all">Mark all as complete</label>
            <ul id="todo-list">
                {% for todo in todos %}
                <li class="{% if todo.completed_on %}completed{% endif %}">
                    <div class="view">
                        <input class="toggle" type="checkbox" {% if todo.completed_on %}checked="checked"{% endif %} value="{{ todo.id }}" />
                        <label>{{ todo }}</label>
                    </div>
                    <input type="text" value="{{ todo }}" style="display: none;" />
                </li>
                {% endfor %}
            </ul>
        </section>
        <footer id="footer">
            <div style="{% if not todos %}display: none;{% endif %}">
                <span id="todo-count"></span>
                <button id="clear-completed">Clear completed</button>
            </div>
        </footer>

        <script type="text/html" id="todo-template">
            <div class="view">
                <input class="toggle" type="checkbox" />
                <label></label>
            </div>
            <input type="text" value="" style="display: none;" />
        </script>
{% endblock content %}

{% block footer %}
    <p>Double-click to edit a todo</p>
    {{ block.super }}
{% endblock footer %}
